div.fluid
{
width: 95% !important;
}
div.fixed
{
width: 950px !important;
}
*
{
margin: 0em;
padding: 0em;
}
body
{
position: relative;
background-color:#F7F7F7;
color: #585858;
}
body,input
{
font-size: 10pt;
font-family: georgia, serif;
}
h1,h2,h3,h4,h5,h6
{
font-weight: normal;
letter-spacing: -1px;
}
h3,h4,h5,h6
{
color: #185360;
}
img
{
padding: 3px;
border: solid 1px #e1e1e1;
}
a
{
text-decoration: underline;
color: #FF5C1F;
}
a:hover
{
text-decoration: none;
}
ul
{
margin-left: 1.5em;
}
li
{
line-height: 1.5em;
}
ul.links
{
list-style: none;
margin-left: 0em;

}
ul.links li
{
line-height: 2em;
}
ul.links li.first
{
}
p
{
line-height: 1.8em;
}

#wrapper {
	width:1000px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	background-color: #fff;
	
}


/* Header section ************/
#header {
	padding-bottom:50px;
}

#header_signin {
	text-align:right;
	padding:5px;
}
#header_signin ul {
list-style:none;
}
#header_signin li {
  display:inline;
  margin:0;
  padding:3px;
  text-align:center;
  font-weight: lighter;
  
  }
#header_signin li a {
	text-decoration: none;
	color: #ed3a00;
	
	}
#header_signin li a:hover {
	text-decoration: underline;
	color: #ed3a00;
}
.logo_name {
	text-align:left;
	font-size:30px;
	padding-right:0px;
	vertical-align:top;
	color: #ed3a00;
	border:none;
}
.logo_sub {
	text-align:left;
	font-size:5px;
	padding-right:20px;
	vertical-align:top;
	color: #ed3a00;
	display:inline;
}
#header_body{
	height:100px;
	text-align:left;
	border:thick #0F0;
	
}
#header_menu {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #DD740B;
	padding-left:1px;
	
}
#header_menu ul {
  margin:0;
  padding:10px 10px 0 50px;
  list-style:none;
  }
#header_menu li {
  display:inline;
  margin:0;
  padding:1px;
  text-align:center;
    
  }
#header_menu a {
  float:left;
  background:url("images/tableftI.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 5px;
  text-decoration:none;
  width:10%;
  }
#header_menu a span {
  float:left;
  display:block;
  background:url("images/tabrightI.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#FFF;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header_menu a span {float:none;}
/* End IE5-Mac hack */
#header_menu a:hover span {
  color:#FFF;
  }
#header_menu a:hover {
  background-position:0% -42px;
  }
#header_menu a:hover span {
  background-position:100% -42px;
  }
/* header ends *******************/

/* bread crumb */
#bread_crumb span {
	padding-left:85px;
	padding-top:50px;
	font-weight: lighter;
	text-decoration: none;
	height:50px;
}

#bread_crumb a {
	padding-top:50px;
	font-weight: lighter;
	text-decoration: none;
}


/* bread crumb ends here */

/* body **************************/

/* sidebar *****/
#sidebar {
	float: left;
	width: 200px;
	padding: 40px 40px 40px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 0px;
}

#sidebar li li {
	margin: 0px 0px 0px 10px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dotted #E5E0C6;

}

#sidebar li li a {
	background: url(images/img03.gif) no-repeat left 5px;
	padding-left:10px;
}

#sidebar li li a:hover {
	color: #666666;
	text-decoration: underline;
	color: #6E6E6E;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
	line-height: 200%;
}

#sidebar li h3 {
	font-family: "Times New Roman", serif;
	font-weight: lighter;
	font-size: 1.7em;
	color: #ed3a00;
	margin: 0 0 10px 0px;
	
	
}

#sidebar a {

	text-align: left;
	text-decoration: none;
	color: #898989;
}
/* sidebar ends here ***/


/* content body starts here *****/
#content_body{
	padding-top:20px;
	height:auto;
	padding-bottom:20px;
}

#content {
	margin-top: 20px;
	padding-left: 5px;
	line-height:20px;
	color: #464032;
	float: right;
	width: 700px;
	margin-right: 30px;
	display: inline;
	padding-bottom:25px;

}

#content a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

#content a:hover {
	text-decoration: underline;
	
}

#content_text{
	float: left;
	margin-left: 5px;
	/*width: 400px;*/
	display: inline;
	padding-bottom:25px;
	text-align: justify;
	
}

#content_image {
	padding-right: 15px;
	/*background-color: #d7d7d7;*/
	float: left;
	width:250px;
	height:290px;
	display: inline;

}

.content_title {
	margin: 0 0 0 0;
	font-family: "Times New Roman", serif;
	font-weight: lighter;
	font-size: 1.6em;
	color: #ed3a00;
}

.content_subtitle{
	font-size: .9em;
	font-weight: lighter;
	color:#999;
	margin: 0 0 10px 0;

}
/* content body ends ****/

/* body ends here *************************/



/* footer **************/
#footer {
	width: 1000px;
	text-align: center;
	clear: both;
	border-top: dotted 1px #dfdfdf;
	text-transform: lowercase;

}

#footer ul {
	list-style:none;
}

#footer li {
  display:inline;
  margin:0;
  padding:3px;
  text-align:center;
  font-weight: lighter;
  
  }

#footer li a { 
  text-decoration: none;
}

#footer li a:hover{ 
  text-decoration:underline;
 
}

#footer p {
	margin: 0;
	padding: 5px;
	text-align: center;
	line-height: normal;
	font-size: 12px;
	color: #915700;
}
/* footer ends here ************/



/***************************************List.css************************/
.post{
	margin-bottom: 15px;
	border-bottom: 1px dotted #E5E0C6;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

.links a {
	text-decoration:none;	
}

.links a:hover{ 
  text-decoration:underline;
}
/***********************************************************************/

.comment_title {
	margin: 0 0 0 0;
	font-family: "Times New Roman", serif;
	font-weight: lighter;
	font-size: 1.3em;
	color: #ed3a00;
}

.comment_subtitle{
	font-size: .9em;
	font-weight: bold;
	color:#999;
	
}





