form fieldset {
  margin-bottom: 10px;
  border: 1px solid #C0C0C0 ;
  /*border-color:#C0C0C0;*/
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  /*border:none;*/
     
}
form legend {
  padding: 0px 10px;
  font-weight: bold;
 /* border: 1px solid #C0C0C0 ;*/
  font-size: 1.05em;
  color: #797069;
  margin-left: 1.5em;

}

form ol {
  margin-right: auto;
  margin-left: auto;
  padding-top:30px;
  
}
form ol li {
  padding: 10px;
  margin: 0;
  padding-left:8.5em;
  text-align: left;
  list-style: none;
  line-height:normal;
  
}

form ol li fieldset{
  text-align: center;
  border:none;
  
}


form label {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
  float: left;
  text-align: left;
    
}

#dialog-login form ol{
  padding:5px;
   
}
#dialog-login form label{
  padding-top:2px;
  
}


#dialog-login form ol li {
  padding: 10px;
  
    
}

#dialog-register form ol{
  padding:5px;
   
}
#dialog-register form label{
  padding-top:2px;
  
}


#dialog-register form ol li {
  padding: 10px;
  
    
}

#new_comment form ol {
  padding:0px;
  text-align:left;
  float:left;
}

#new_comment form li {
  text-align:left;
  float:left;
  padding-left:5px;
}

