<ul>
    <li><a href="/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <% if getusertype == 'Admin' %>
    <li><a href="/feedbacks">Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <% else %>
    <li><a href="/feedbacks/new">Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <% end %>
    <li><a href="/top_links">Top Links</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="contact">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li> <a href="http://www.fastlineinfo.com">Website design by Fast Line Info</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
</ul>

<p class="copyright">Copyright 2010 Fast Line Info </p>
<%= render :partial => "home/inc_inlineDialog" %>

