<div id="logo">
	<!-- Your logo goes here -->
	<!--<img src="images/nautica-logo.gif" alt="Nautica X" />-->
</div>
<div id="sidebar">
	<ul>
	    <li>
		 <ul class="content_title">Recent Blogs</ul>
		 <ul>
			<% @mainblogs.each do |blog|%>
				<li><a href="/blogs/<%=blog.id%>"><%=blog.blog_title%></a></li>
			<% end %>
		</ul>
	    </li>
	    
	    <li>
		 <ul class="content_title">Interesting Links</ul>
		 <ul>
			<li><a href="http://studio7designs.com">Studio7Designs</a></li>
			<li><a href="http://arbutusphotography.com">Arbutus Photography</a></li>
			<li><a href="http://osdnetwork.org">Open Designs Community</a></li>
			<li><a href="http://vectorart.org">Vector Art</a></li>
		</ul>
	    </li>
	    
	    <li>
		 <ul class="content_title">Recent Articles</ul>
		 <ul>
			<li><a href="#">January 2010</a></li>
		</ul>
	    </li>
	</ul>
</div>

