<div id="header_signin">
    <ul>
	<li><a href="/home">Home</a>|</li>
	<% if session[:user] != "" &&  session[:user] != nil  %>
        <li><a href="javascript:void()" onClick="return logOut();">Logout</a>|</li>
	<% else %>
	<li><a id="opener-login" href="javascript:void(0);">Login</a>|</li>
	<li><a id="opener-register" href="javascript:void(0);">Register</a>|</li>
	<% end %>
        <li><input type="text" id="search" /></li>
    </ul>
</div>
<div id="header_body"><span class="logo_name"><img src="/images/logo_fastline.png" border="0" width="280"></span><img src="/images/top.jpg" width="700" height="80"/>
</div>
<!--<div class="complogo">
	<p><span class="fli_bold">FAST LINE INFO<br /></span><span class="fli_small">Information Management System</span></p>
</div>-->

<div id="header_menu">
    <!-- Main Navigation -->
    <ul>
        <li><a href="/home"><span>Home</span></a></li>
        <li><a href="/blogs"><span>Blogs</span></a></li>
        <li><a href="/articles"><span>Articles</span></a></li>
	<li><a href="#"><span>Tech demos</span></a></li>
	<li><a href="/todos"><span>Todos</span></a></li>
	<li><a href="/top_links"><span>Links</span></a></li>
        <!--<li><a href="/home/services">Services</a>
	<li><a href="/home/article">Services</a>-->
		<!--<ul>
		<li>Patient Portal</li>
		<li>Immunization Reminder</li>
		<li>Agriculture</li>
		</ul>-->
	<!--</li>-->
	<li><a href="#"><span>Site map</span></a></li>
	<li><a href="/home"><span>About us</span></a></li>
        <li><a href="/contact"><span>Contact us</span></a></li>
	<!--<li><a href="/login/ftp">FTP</a></li>-->
    </ul>
</div>	