<div id="content-inner">
	<div class="content-right">
		<h2>Fast Line Info</h2>
		<p>Suit # 1507 <br> Ibn Batouta Building <br> Abu Shagara <br> Sharjah <br> UAE <br>Telephone: 00971-50-3576445</p>
		
	</div>
	
</div>