<div id="content_text">
	<p id="content_image"><img src="/images/nyc-photo.jpg" width="245" height="285" />
	</p>
	<ul class="content_title">Welcome to Fast Line Info</ul>
	<ul class="content_subtitle">Saturday, September 18th, 2010</ul>
	<p>
Fast Line Info - is a dream site which is developed to maintain and
		manage information at one point. Keeping information in a structured way is an art
		and getting back the information when required is always depends on how well the
		information is structured. Fast Line Info existed to manage these day to day simple
		information which we use, as and when required. The site is mainly developed
		using Ruby On Rails and JQuery...<br><br>
		
		Fast Line Info provides the solution for simple day to day tech challenges.
		People can take the advantage of getting information at one point for the simple
		and major problems. They can contibute by answering or writing a blog on certain issues.
		core features available in the sites are simple tech solutions, document management,
		to-do list, blogs, articles, email alert etc. Some of the top blogs include people
		who have spent years in the IT industry and their experience during those years.
		Why certain Application succeeded and others failed. The bureaucracy and impact
		of bureaucracy on the Application. The site existed during the process of learnig
		Ruby On Rails. Fast Line Info welcomes <a href="/feedbacks/new">ideas and suggestion</a> from the user to manage this site. </p>
		
	</p>
</div>
