<div id="content-inner">
	<div class="content-left">
		<img src="images/nyc-photo.jpg" alt="NYC Photo" />
		<p>UAE<br /><span>During Winter in 2009</span></p>
	</div>
	<div class="content-right">
		<h2>Welcome to Fast Line Info</h2>
		<h3 class="dateline">Saturday, September 18th, 2009</h3>
		<p>Fast Line Info - is a dream site which is developed to maintain and
		manage information at one point. Keeping information in a structured way is an art
		and getting back the information when required is always depends on how well the
		information is structured. Fast Line Info existed to manage these day to day simple
		information which we use, as and when required. The site is mainly developed
		using Ruby On Rails and JQuery...<br><br>
		
		Fast Line Info provides the solution for simple day to day tech challenges.
		People can take the advantage of getting information at one point for the simple
		and major problems. They can contibute by answering or writing a blog on certain issues.
		core features available in the sites are simple tech solutions, document management,
		to-do list, blogs, articles, email alert etc. Some of the top blogs include people
		who have spent years in the IT industry and their experience during those years.
		Why certain Application succeeded and others failed. The bureaucracy and impact
		of bureaucracy on the Application. The site existed during the process of learnig
		Ruby On Rails. Fast Line Info welcomes <a href="feedback">ideas and suggestion</a> from the user to manage this site. </p>
		
		<!--<p>You may use this template anyway you like, however we would appreciate it if you 
		could leave the link back to us in the footer to help us continue to be able to produce
		more designs in the future. We have to thank <a href="http://www.slicendiceit.com">slice n dice</a> for all the amazing coding
		on this template. This template is Valid CSS and XHTML and has been tested to work
		in IE6-7, Firefox, Opera, and Safari for OSX.</p>
		<p class="end-story-links"><a href="">14 Comments</a> | <a href="">Read on...</a></p>-->

	</div>

	<div class="content-full">
		<h2>Full page blog provides plenty of space</h2>
		<h3 class="dateline">Saturday, November 18th, 2009</h3>

		<p class="intro">We wanted to create a blog template that had an understated feel to it and that would really provide enough space to 
		really blog a ton of content. When we build our blogger theme we will be providing the full page blog template and the 
		image and 2/3rds content format for you to pick from. Keep your eyes out in late Feb for the blogger and wordpress 
		releases at STUDIO7DESIGNS.</p>
		
		<p>We are moving more and more towards the 1000 pixel wide designs these days. In most cases for blogs and such, it is 
		so important to have enough space to have white space around your text. This will help your readers breath and take in
		your paragraphs more easily. Here is an example of a float left image with a 2 pixel #CCCCCC border around it.</p>

		<img src="images/bldg-pic.jpg" alt="" class="content-img" />

		<p class="intro">The padding on the paragraphs leaves enough room so that the text and image
		have enough space to breath. In this template we are experimenting with text as
		a design aspect. It is imperative to chose your fonts well, and to chose different 
		types and sizes and colors to really use the font as a design paintbrush.</p>
		
		<p>For this template we are keeping it simple enough as to let the focus be on the 
		content, not the design. You can hop into the style sheet and increase the font
		color if you find these colors are too light. We hope you enjoy our designs and drop 
		us a line as we always like to see our designs in action!</p>
		<p>Thank you from <a href="http://www.studio7designs.com">STUDIO7DESIGNS</a></p>
	  <p class="end-story-links"><a href="">37 Comments</a> | <a href="">Read on...</a></p>
	</div>
</div>