<% @formTitle="New Feedback"%>
<% if getusertype != "" %>
<% if getusertype == "Admin" %>
<%= link_to 'Back', feedbacks_path %>
<% end %>
<%= render 'form' %>
<% if getusertype == "Admin" %>
<%= link_to 'Back', feedbacks_path %>
<% end %>
<% else %>
<a href="javascript:void(0)" id="opener-login-commentlink">Login</a> to post feedback 
<% end %>